@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#index_container {
    display: grid;
    grid-template-columns: 2fr 3fr;
}

#index_principal {
    grid-column: 1/2;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
}

#index_lado {
    grid-column: 2/3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 35px;
}

#cabecalho_index {
    grid-column: 1/3;
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #F2C8F3;
    margin-bottom: 30px;
}

#botao {
    color: white;
    text-decoration: none;
    background-color: #FFDE59;
    padding: 14px 25px;
    border-radius: 20px;
    margin-left: 15px;

}

#botao:hover{
    background-color: #ffea94;
}

#titulo{
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    color: white;

}

#index_subtitulo{
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    margin: 55px 10px 0px 10px;

    text-align: center;
}

#resumo{
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    font-style: normal;
    text-align: justify;
    padding: 15px;
    border: 5px #F2C8F3 solid;
    border-radius: 20px;
}

#index_principal{
    margin-top: 20px;
}
    

#index_hr{
    margin-bottom: 15px;
}

/*Estilização da galeria*/

#cabecalho_galeria{
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #F2C8F3;
}

figure {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: auto;
}

figcaption {
    background-color: #FFDE59;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
    border-radius: 20px;
}

#galeria_container {
    display: grid;
    grid-template-rows: 4fr;
}

#section1 {
    grid-row: 1/2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: floralwhite;
}

#galeria_subtitulo {
    padding: 10px;
    background-color: floralwhite;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    color: #F2C8F3;
    text-align: center;
}

#section2 {
    grid-row: 2/3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: floralwhite;
}

#section3 {
    grid-row: 2/3;
    
}

#section4 {
    grid-row: 2/3;
    
}
